@charset "utf-8";

  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url("http://localhost:8080/FloatingBalls/resources/images/background_1.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}

.error{
    color: red;
}

.success{
    color: #00FF00;
}

/* Стиль для шапки сайта */

header {
    background-color: rgba(60, 60, 60, 0.8);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 5px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ddd;
}

.auth-links {
    display: flex;
    margin-left: auto;
}

.auth-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.auth-links a:hover {
    background-color: white;
    color: #333;
}

header nav ul li button {
    background: none;
    color: white;
    border: none;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s;
}

header nav ul li button:hover {
    color: #ddd;
}

/* Стили боковой панели */
.side-panel {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background: #444;
    color: #fff;
    transition: right 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.side-panel.open {
    right: 0;
}

.side-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.side-panel ul li {
    margin-bottom: 15px;
}

.side-panel ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.side-panel ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.side-panel .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

/* Дополнительные стили для оформления */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Стиль для footer панли */

.hidden-footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    position: fixed;
    bottom: -80px;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0.5;
}

.hidden-footer:hover {
    bottom: 0;
    opacity: 1;
}

.hidden-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
}

.footer-section h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

#language-select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.social-media {
	float: left;
	width: 50%;
}

.social-media img {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;
}

/* Стиль для регистрации */

 .register-container {
    background-color: rgba(60, 60, 60, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
}

 .register-container h2 {
    margin-bottom: 20px;
    color: white;
}

.input-container-registration {
    margin-bottom: 15px;
    text-align: left;
}

.input-container-registration label {
    color: white;
    display: block;
    margin-bottom: 5px;
}

.input-container-registration input {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-registration {
    width: 100%;
    padding: 10px;
    background-color: rgba(60, 60, 60, 0.8);
    color: white;
    text-decoration: none;
    border: 1px solid white;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-registration:hover {
    background-color: white;
    color: #333;
}

/* Стиль для авторизации */

.login-container {
    background-color: rgba(60, 60, 60, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
}

.login-container h2 {
    color: white;
    margin-bottom: 20px;
}

.input-container-authorization {
    margin-bottom: 15px;
    text-align: left;
}

.input-container-authorization label {
    color: white;
    display: block;
    margin-bottom: 5px;
}

.input-container-authorization input {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-authorization {
    width: 100%;
    padding: 10px;
    background-color: rgba(60, 60, 60, 0.8);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-authorization:hover {
    background-color:  white;
    color: #333;
}

.register-button-authorization {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.register-button-authorization:hover {
    background-color:  white;
    color: #333;
}

.authorization-label {
    color: white;
}

/* Стиль для страниы о нас */

.about-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(60, 60, 60, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 73vh

}

.about-container h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.about-container h2 {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about-container p {
    line-height: 1.6;
    color: white;
}

.about-container ul {
    list-style-type: disc;
    margin-left: 20px;
    color: white;
}

.about-container ul li {
    margin-bottom: 5px;
}

.container-shop {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(60, 60, 60, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shop-item {
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.shop-item h2 {
    font-size: 16px;
    color: white;
    margin: 0 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.shop-item p {
    font-size: 14px;
    margin: 0;
    color: white;
}

.shop-item p strong {
    color: white;
}

/* Стиль для страниы главная */

.container-update {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.updates-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: rgba(60, 60, 60, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.update-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    opacity: 0;
    transition: opacity 1s;
}

.update-card.active {
    opacity: 1;
}

.update-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.update-content {
    padding: 15px;
}

.update-title {
    margin: 0 0 10px;
    font-size: 22px;
    color: white;
}

.update-text {
    font-size: 16px;
    color: white;
    line-height: 1.6;
}

.update-date {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 14px;
    color: #999;
}

.next-button-update {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.next-button-update {
    background-color: rgba(0, 0, 0, 0.3);
}

.upper-panel-update {
    position: relative;
    width: 100%;
    height: 85px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-top: 180px;
    overflow: hidden;
}

.upper-panel-image-update {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upper-panel-text-update {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    color: #fff;
}

.updates-container-top {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: rgba(60, 60, 60, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.top-panel-update {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.top-panel-update.active {
    opacity: 1;
}

.top-panel-image-update {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-panel-text-update {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    color: #fff;
}

.next-button-update-top {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.next-button-update-top:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Стиль для страниы категории */

.container-category {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 125px;
}

.categories-block {
    background-color: rgba(60, 60, 60, 0.8);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.categories-block h1 {
    text-align: center;
    color: white;
}

.categories-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.category-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-item img {
    width: 70%;
    height: 70%;

}

.category-item h2 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.category-item a {
    text-decoration: none;
    color: inherit;
}

.category-text-p {
    font-size: small;
    color: gray;
    font-family: Arial, sans-serif;
}

.btn-category{
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
}

.btn-category:hover {
    background-color: white;
    color: black;
}

/* Стиль для страниы списка продуктов */

.product-list-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(60, 60, 60, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ddd;
}

.product-list-container h1{
    text-align: center;
    color: white;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
        pointer-events: none;
}

.product-list-info {
    margin-top: 10px;
}

.product-title {
    font-size: 18px;
    margin: 10px 0;
}

.product-description {
    font-size: 14px;
    color: #666;
}

.product-price {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-top: 10px;
}

.product-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.sort-panel {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.sort-panel form {
    display: flex;
    align-items: center;
    background-color: rgba(60, 60, 60, 0.8);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
}

.sort-panel label {
    margin-right: 10px;
    font-weight: bold;
    color: white;
}

.sort-panel select {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sort-search-panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sort-panel, .search-panel {
    display: inline-block;
}

.sort-panel form, .search-panel form {
    display: flex;
    align-items: center;
}

.sort-panel select, .search-panel input, .search-panel button {
    margin-left: 10px;
    padding: 5px;
}

.search-panel {
    margin-bottom: 20px;
}

.search-panel input {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-panel form {
    display: flex;
    align-items: center;
    background-color: rgba(60, 60, 60, 0.8);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}

.search-panel label {
    margin-right: 10px;
    font-weight: bold;
    color: white;
}

.search-panel button {
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
}

.search-panel button:hover {
    background-color: white;
    color: black;
}

/* Стиль для странцы информация о продукте */

.product-info-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: rgba(60, 60, 60, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 20px;
    margin-top: 700px;
}

.product-image-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    align-items: start;
}

.main-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-info-image {
    width: 400px;
    height: auto;
}

.thumbnail-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.thumbnail {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.thumbnail.selected {
    border: 2px solid #007BFF;
}

.product-info-details {
    max-width: 600px;
    margin-top: 20px;
}

.product-info-title {
    font-size: 24px;
    margin: 0 0 10px;
}

.product-info-description {
    font-size: 16px;
    margin: 0 0 10px;
}

.product-info-price {
    font-size: 18px;
    margin: 0 0 10px;
}

.product-info-date {
    font-size: 14px;
    color: #c0c0c0;
}

.product-info-button {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

.product-info-button:hover {
    background-color: white;
    color: black;
}

.reviews-section {
    padding: 20px;
    background-color: rgba(60, 60, 60, 0.8);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.review-form {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(60, 60, 60, 0.8);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.review-form h3 {
    margin-bottom: 15px;
}

.review-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.review-form textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.review-form button {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.review-form button:hover {
    background-color: white;
    color: black;
}

.reviews-block {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reviews-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.review {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.review:last-child {
    border-bottom: none;
}

.reviewer-info {
    font-weight: bold;
    margin-bottom: 5px;
}

.reviewer-name {
    margin-right: 10px;
}

.review-date {
    color: #888;
    font-size: 14px;
}

.review-content {
    margin-top: 5px;
}

/* Стиль для странцы профиль */

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.profile-card {
    background-color: rgba(60, 60, 60, 0.8);
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.profile-info {
    margin-bottom: 20px;
}

.profile-title {
    margin-bottom: 15px;
    font-size: 24px;
    color:white;
}

.profile-info p {
    margin: 10px 0;
    font-size: 16px;
    color:white;
}

.logout-button {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: white;
    color: black;
}

/* Стиль для странцы ошибки */

.error-container-page {
    background-color: rgba(60, 60, 60, 0.8);
    border-radius: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.error-content-page {
    background-color: rgba(60, 60, 60, 0.8);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.error-content-page h1 {
    color: #dc3545;
    margin-bottom: 20px;
}

.error-content-page p {
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
}

.error-page-button {
     background-color: rgba(0, 0, 0, 0.2);
     border: none;
     border-radius: 5px;
     color: #fff;
     padding: 10px 20px;
     font-size: 16px;
     cursor: pointer;
     transition: background-color 0.3s;
     text-decoration: none;
}

.error-page-button:hover {
    background-color: white;
    color: black;
}

/* Стиль для странцы избранных продуктов */

.product-feature-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(60, 60, 60, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-top: 150px;
}

.product-feature-container h1{
    text-align: center;
    color: white;
}

.product-feature {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card-feature {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card-feature:hover {
    transform: scale(1.05);
}

.product-feature-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
        pointer-events: none;
}

.product-feature-info {
    margin-top: 10px;
}

.product-feature-title {
    font-size: 18px;
    margin: 10px 0;
}

.product-feature-price {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-top: 10px;
}

.product-feature-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.product-feature-button {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(60, 60, 60, 0.8);
}

.product-feature-button:hover {
    background-color: white;
    color: black;
}

/* Стиль для странцы корзина */

.product-basket-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(60, 60, 60, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-top: 500px;
}

.product-basket-container h1{
    text-align: center;
    color: white;
}

.product-basket-container h2{
    color: white;
}

.product-basket-container h3{
    text-align: center;
    color: white;
}

.product-basket {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card-basket {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card-basket:hover {
    transform: scale(1.05);
}

.product-basket-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
        pointer-events: none;
}

.product-basket-info {
    margin-top: 10px;
}

.product-basket-title {
    font-size: 18px;
    margin: 10px 0;
}

.product-basket-price {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-top: 10px;
}

.product-basket-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.product-basket-button {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(60, 60, 60, 0.8);
}

.product-basket-button:hover {
    background-color: white;
    color: black;
}

.order-form-basket {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(60, 60, 60, 0.8);
}

.form-group-basket  {
    margin-bottom: 15px;
}

.form-group-basket  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color:white;
}

.form-control-basket  {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Стиль для страницы оплаты */

.checkout-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.checkout-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.checkout-form-group {
    margin-bottom: 20px;
}

.checkout-form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.checkout-form-group input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkout-form-group input.error {
    border-color: red;
}

.checkout-form-group span.error {
    color: red;
    font-size: 14px;
}

.checkout-btn {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-btn:hover {
    background-color: #218838;
}

/* Стиль для страницы история покупок */

.order-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(60, 60, 60, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-top: 260px;
}

.order-header {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.order-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.order-card {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    min-width: 200px;
}

.order-card h2 {
    margin-top: 0;
    color: #007bff;
}

.order-card p {
    margin: 5px 0;
    color: #555;
}

.order-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.order-card ul li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.order-card ul li:last-child {
    border-bottom: none;
}

/* Стиль для страницы обработки покупок */

.order-container-processing {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(60, 60, 60, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-top: 260px;
}

.order-header-processing {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.order-cards-processing {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.order-card-processing {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    min-width: 200px;
}

.order-card-processing h2 {
    margin-top: 0;
    color: #007bff;
}

.order-card-processing p {
    margin: 5px 0;
    color: #555;
}

.order-card-processing ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.order-card-processing ul li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.order-card-processing ul li:last-child {
    border-bottom: none;
}